@import "../../../styles/palette";
@import "../../../styles/mixins";

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: auto;
  height: 92px;
  display: flex;
  align-items: center;

  .terms {
    margin-left: 20px;
    position: relative;

    &:before {
      content: "";
      @include underline-link();
      background-color: $white;
      transform: scaleX(0);
    }

    &:hover:before {
      content: "";
      @include underline-link();
      background-color: $white;
      transform: scaleX(1);
    }

    @include mediaMax(570){
      margin: 0;
    }
  }

  .policyWrapper{
    padding: 73px;

    @include mediaMax(795){
      padding: 0;
    }

    @include mediaMax(570){
      display: flex;
      flex-direction: column-reverse;
    }
  }
}