@import "../../../styles/palette";
@import "../../../styles/mixins";

.headerWrapper{
  height: 92px;
  width: 100%;
  top: 36px;
  left: 0;

  @include mediaMax(500) {
    height: 62px;
    top: 10px;
  }
}

.mainNavigation {
  display: block;
  height: 100%;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    li {
      list-style: none;
    }
  }

  @include mediaMax(1000){
    position: fixed;
    top: -92px;
    left: -100%;
    background-color: $black;
    height: calc(100vh + 92px);
    width: 100%;
    transition: .6s;
    z-index: 999;

    ul {
      height: 100%;
      flex-direction: column;
      justify-content: center;

      li{
        margin-top: 40px;
      }
    }
  }
}

.mainNavigationOpen {
  left: 0;
}

.logo{
  display: none;
  width: 92px;
  height: 92px;
  margin-left: 30px;

  img{
    width: 100%;
    height: 100%;
  }

  @include mediaMax(1000){
    display: block;
  }
}

.hamburger {
  display: none;

  @include mediaMax(1000) {
    display: block;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1000;

    span {
      display: block;
      height: 3px;
      width: 100%;
      background-color: $white;
      margin-bottom: 5px;
      transition: 0.5s all ease;
    }
  }
}

.hamburgerOpen span {
  margin-bottom: -2px;

  &:nth-child(1) {
    transform: translateY(3px) rotate(-45deg)
  }

  &:nth-child(2) {
    display: none
  }

  &:nth-child(3) {
    transform: translateY(3px) rotate(45deg)
  }
}

.menuItem {
  text-transform: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;

  &:before {
    content: "";
    @include underline-link();
    background-color: $white;
    transform: scaleX(0);
  }

  &:hover:before {
    content: "";
    @include underline-link();
    background-color: $white;
    transform: scaleX(1);
  }
}

.menuItemActive {
  color: $active;

  &:after {
    content: "";
    position: absolute;
    background-color: $active;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
  }
}