@import "../../../styles/palette";

.svgLoader {
  animation: rotate 2s linear infinite;
  display: flex;
  width: 80%;
  height: 80%;
  max-width: 40px;
  max-height: 40px;

  :global(.path) {
    stroke: #fff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

  &.green {
    :global(.path) {
      stroke: $grey;
    }
  }

  &.big {
    max-width: 80px;
    max-height: 80px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
