@import "../../../styles/palette";

.divider{
  width: 100%;
  height: 3px;
  background-color: $white;

  &Medium{
    width: 70%;
  }

  &Small{
    width: 25%;
  }

  &Vertical{
    width: 3px;
    height: 55px;
    margin: 0 30px;
    border-radius: 15px;
  }
}