@import "./src/styles/palette";
@import "./src/styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, 'Rubik Mono One', sans-serif;
  outline: none;
}

#root{
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: $background;
  -webkit-font-smoothing: antialiased;
}

.text {
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: $white;

  &--giant {
    font-size: 200px;
    line-height: 244px;

    @include mediaMax(1300){

    }
  }

  &--big {
    font-size: 32px;
    line-height: 39px;

    @include mediaMax(1300){
      font-size: 28px;
    }

    @include mediaMax(500){
      font-size: 26px;
    }
  }

  &--middle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    @include mediaMax(1300){
      font-size: 22px;
    }

    @include mediaMax(500){
      font-size: 20px;
    }
  }

  &--small {
    font-size: 18px;
    line-height: 22px;

    @include mediaMax(1300){
      font-size: 16px;
    }
  }
}


.gradientLinearPurple{
  background: $purple-gradient--linear;
}

.gradientLinearYellow{
  background: $yellow-gradient--linear;
}

.gradientLinearBlue{
  background: $blue-gradient--linear;
}

.gradientLinearGreen{
  background: $green-gradient--linear;
}

.gradientLinearRed{
  background: $red-gradient--linear;
}