@mixin underline-link {
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 3px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.4, 1);
  transform-origin: 0 0;
}

@mixin mediaMin($w) {
  @media screen and (min-width: #{$w}px) {
    @content;
  }
}

@mixin mediaMax($w) {
  @media screen and (max-width: #{$w}px) {
    @content;
  }
}