@import "../../../styles/palette";
@import "../../../styles/mixins";

.textareaWrapper {
  position: relative;

  .textarea {
    width: 100%;
    height: 122px;
    display: block;
    padding: 8px 24px;
    background-color: transparent;
    color: $white;
    outline: none;
    border: 3px solid $white;
    border-radius: 25px;
    resize: none;

    &::placeholder {
      color: $grey;
    }

    &.error {
      border: 1px solid $red;
    }

    &.resize {
      resize: both;
    }
  }
}