@import "../../../styles/mixins";
@import "../../../styles/palette";

.mainWrapper {
  height: calc(100vh - 160px);
  padding: 56px 36px 0 36px;
  display: flex;
  flex-direction: column;

  @include mediaMax(1300) {
    padding: 66px 43px 0 43px;
  }

  @include mediaMax(760) {
    padding: 46px 36px 0 36px;
  }

  @include mediaMax(450) {
    padding: 26px 0 0 0;
  }

  .subHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &Text{
      max-width: 70%;
      width: 100%;

      @include mediaMax(1100){
        max-width: 60%;
      }

      @include mediaMax(900){
        max-width: 100%;
        margin-bottom: 5px;
      }

      @include mediaMax(350){
        text-align: center;
      }
    }

    @include mediaMax(900){
      margin-top: 15px;
    }

    @include mediaMax(670){
      flex-direction: column;
      align-items: flex-start;
    }

    @include mediaMax(500){
      margin-top: 0;
    }

    @include mediaMax(350){
      align-items: center;
    }
  }

  .platforms{
    height: 100%;

    .scrollWrapper{
      padding: 40px!important;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 50px;
      justify-items: center;
      align-items: center;
      overflow-x: hidden;

      @include mediaMax(1300){
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 70px;
      }

      @include mediaMax(950){
        grid-row-gap: 40px;
      }

      @include mediaMax(850){
        grid-template-columns: 1fr;
        grid-row-gap: 70px;
      }
    }
  }
}